<div class="row">
  <div class="row">
  </div>
  <%= form_for([:admin, @role], html: {class: 'col s12'}) do |f| %>
    <div class="row">
      <div class="input-field col s8">
        <%= f.text_field :name, class: 'validate', placeholder: 'Name' %>
        <%= f.label :name, for: 'role_name' %>
      </div>
    </div>
    <div class="row">
      <% @role_members.sort{|member1, member2| member1.user.id <=> member2.user.id}.each do |member| %>
        <div class="col s6">
          <p>
            <input type="checkbox" id="role_member_ids_<%= member.user.id %>" name="role[member_ids][]" class="filled-in" value="<%= member.user.id %>"<% unless member.id.nil? %> checked<% end %> />
            <label id="role_member_ids_<%= member.user.id %>" for="role_member_ids_<%= member.user.id %>">
              <%= member.user.name %>
            </label>
          </p>
        </div>
      <% end %>
    </div>
    <div class="row">
      <%= f.submit 'Save', class: 'btn waves-effect waves-light green lighten-3' %>
    </div>
  <% end %>
</div>
