<main>
  <div class="container">
    <div class="row">
      <div class="col s12 m9 l10">
        <div class="margin-left: auto;">
          <div class="fixed-action-btn horizontal" style="position: absolute; display: inline-block; right: 24px;">
            <%= link_to new_admin_schedule_path, class: 'btn-floating btn-large waves-effect waves-light red' do %>
              <i class="material-icons">add</i>
            <% end %>
          </div>
        </div>
        <div class="tables" class="section scrollspy">
          <h2 class="header">
            Schedules
          </h2>
          <div class="row">
            <div class="col s12">
              <table>
                <thead>
                  <tr>
                    <th data-field="id">ID</th>
                    <th data-field="title">Title</th>
                    <th data-field="">Schedule Period</th>
                    <th data-field="registration">Registration Period</th>
                    <th data-field="place">Place</th>
                    <th data-field="note">Note</th>
                    <th data-field="buttons"></th>
                  </tr>
                </thead>
                <tbody>
                  <% @schedules.each do |schedule| %>
                    <tr>
                      <td>
                        <%= schedule.id %>
                      </td>
                      <td>
                        <%= schedule.title %>
                      </td>
                      <td>
                        <%= schedule.start_at %>
                      </td>
                      <td>
                      </td>
                      <td>
                        <%= schedule.place %>
                      </td>
                      <td>
                        <%= schedule.note %>
                      </td>
                      <td>
                        <%= link_to edit_admin_schedule_path(schedule), class: 'btn-floating btn-small' do %>
                          <i class="small material-icons">mode_edit</i>
                        <% end %>
                        <a class="btn-floating btn-small" onclick="deleteSchedule(<%= schedule.id %>)">
                          <i class="small material-icons">delete</i>
                        </a>
                        <div id="modal-<%= schedule.id %>" class="modal">
                          <div class="modal-content">
                            Delete?
                          </div>
                          <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script>
function deleteSchedule(schedule_id) {
  var href = '/admin/schedules/' + schedule_id,
  method = 'delete',
  csrf_token = $('meta[name=csrf-token]').attr('content'),
  csrf_param = $('meta[name=csrf-param]').attr('content'),
  form = $('<form method="post" action="' + href + '"></form>'),
  metadata_input = '<input name="_method" value="' + method + '" type="hidden" />';

  if (csrf_param !== undefined && csrf_token !== undefined) {
    metadata_input += '<input name="' + csrf_param + '" value="' + csrf_token + '" type="hidden" />';
  }

  form.hide().append(metadata_input).appendTo('body');
  form.submit();
}
</script>
